{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.password) }}
        {{ form_row(registrationForm.naam) }}
        {{ form_row(registrationForm.adres) }}
        {{ form_row(registrationForm.woonplaats) }}
        {{ form_row(registrationForm.geslacht) }}
        {{ form_row(registrationForm.geboorte_datum) }}
        {{ form_row(registrationForm.telefoon_nummer) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
